html,
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F0F7FA;
}

a {
    cursor: pointer;
}

.bg-primary {
    background-color: #407BA7 !important;
}

.bg-secondary {
    background-color: #dddddd !important;
}

.bg-feed {
    background-color: #224257 !important;
}

.bg-heading {
    background-color: #52748D !important;
}

.bg-instr {
    background-color: #FABB5A !important;
}

.bg-student {
    background-color: #93C94A !important;
}

.bg-buttons {
    background-color: #EEEEEE !important;
}

.bg-main {
    background-color: #F0F7FA !important;
}

.bg-white {
    background-color: white;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

::-webkit-scrollbar {
    background-color: #F0F7FA;
    width: 1vw;
    max-width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 600px) {
    body {
        width: 150vw;
        height: 100vh;
    }
}

